/*
Colors used:
Background color (White): #FFFFFF;
Primary Color (Blue): #7C90A1;
Secondar Color (Bronze): #8C806C;
Secondary Color (Dark Gray): #D4D4D4;
Secondary Color (Light Gray): #F5F5F5;
Text Color (Black): #000000
*/

body {
	background-color: #ffffff;
	font-family: 'PT Serif', sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.6;
  text-align: center;
	color: #000000
}

h1,
h2,
h3,
h4 {
	line-height: 1.4;
}

h1 {
	font-size: 2.25em;
	font-weight: 700;
}

h2 {
	font-size: 1.8em;
	font-weight: 700;
}

h3 {
	font-size: 1.50em;
	font-weight: 400;
}

h4 {
	font-size: 1.35em;
	font-weight: 400;
}

img {
	width: 100%
}

a {
	color: #384754;
	text-decoration: none;
}

a:visited {
	color: #D4D4D4;
}

a:hover,
a:focus {
	color: #F5F5F5;
	text-decoration: underline;
}

a:active {
	color: #F5F5F5;
}

header {
	background-color: #7C90A1;
  text-align: center;
	padding: 10px 0;
	margin: 0px;
  box-shadow: 2px 2px 1px rgba(50, 50, 50, 0.75);
  position: fixed;
  width: 100%;
}

main{
  padding-top: 200px;
}

nav{
  display: inline-block;
  width: 100%;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li{
  display: inline-block;
}

nav > ul > li > a:visited{
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #F5F5F5;
}

selector {
	margin: 0 auto;
}

.button {
	display: inline-block;
	background-color: #7C90A1;
	color: #ffffff;
	font-weight: 400;
	padding: 10px;
	border-radius: 3px;
	border-bottom: 2px solid #8C806C;
	transition: 0.2 opacity;
}

.button:hover {
	opacity: 0.8;
	text-decoration: none;
}

.button.contact {
	background-color: transparent;
	color: #7C90A1;
	text-transorm: uppercase;
	border: 2px solid #7C90A1;
}

.button.contact:hover {
	background-color: #7C90A1;
	color: #ffffff;
}

/* Layout Styling */

.container{
  padding: 0 5px;
}

.container1{
    padding: 20 5px;
}

.row1{
  margin: 0px 0;
}

.row{
  margin: 50px 0;
}

#work .row{ padding-bottom: 25px; broder-bottom: 1px solid #8C806C; }

#hero h1{
  text-align: center;
}

.logo{
  max-width: 150px;
}

#hero{
  background-color: #F5F5F5;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#contact{
  background-color: #F5F5F5;
  width: 100%;
  display: inline-block;
}

#about h1{
  padding: 50px 0;
  width: 100%;
}

.cover{
  width: 350px;
  hieght: 200px;
  padding: 35px 0px 0px 0px;
}

.thumnbnail{
  max-wdith: 250px;
}

.icon{
  width: 30px;
  height: 30px;
  display: inline-block;
  padding: 30px 0px 0px 0px;
}

.profilepic{
  width: 200px;
  height: 270px;
  padding: 100px 0px 10px 0px;
}

ul{
  list-style-position: inside;
  text-algin: center;
}
