/*
Colors used:
Background color (White): #FFFFFF;
Primary Color (Blue): #7C90A1;
Secondar Color (Bronze): #8C806C;
Secondary Color (Dark Gray): #D4D4D4;
Secondary Color (Light Gray): #F5F5F5;
Text Color (Black): #000000
*/

body {
    background-color: #ffffff;
    font-family: "PT Serif", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
    text-align: center;
    color: #000000;
}

h1,
h2,
h3,
h4 {
    line-height: 1.4;
}

h1 {
    font-size: 2.25em;
    font-weight: 700;
}

h2 {
    font-size: 1.8em;
    font-weight: 700;
}

h3 {
    font-size: 1.5em;
    font-weight: 400;
}

h4 {
    font-size: 1.35em;
    font-weight: 400;
}

img {
    width: 100%;
}

a {
    color: #27323b;
    text-decoration: none;
}

a:visited {
    color: #27323b;
}

a:hover,
a:focus {
    color: #384754;
    text-decoration: underline;
}

a:active {
    color: #384754;
}

header {
    background-color: #7c90a1;
    text-align: center;
    padding: 10px 0;
    margin: 0;
    box-shadow: 2px 2px 1px rgba(50, 50, 50, 0.75);
    position: fixed;
    width: 100%;
}

main {
    padding-top: 200px;
}

nav {
    display: inline-block;
    width: 100%;
}

nav > ul {
    list-style-type: none;
    padding: 0;
}

nav > ul > li {
    display: inline-block;
}

nav > ul > li > a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #f5f5f5;
}

selector {
    margin: 0 auto;
}

.button {
    display: inline-block;
    background-color: #7c90a1;
    color: #ffffff;
    font-weight: 400;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #8c806c;
    transition: 0.2 opacity;
}

.button:hover {
    opacity: 0.8;
}

.button.contact {
    background-color: transparent;
    color: #7c90a1;
    text-transform: uppercase;
    border: 2px solid #7c90a1;
}

.button.contact:hover {
    background-color: #7c90a1;
    color: #ffffff;
}

/* Layout Styling */

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 5px;
}

.container1 {
    padding: 20px 5px;
}

.row1 {
    margin: 0;
}

.row {
    margin: 50px 0;
}

#work .row {
    padding-bottom: 25px;
    border-bottom: 1px solid #8c806c;
}

#hero h1 {
    text-align: center;
}

.logo {
    max-width: 150px;
}

#hero {
    background-color: #f5f5f5;
    padding: 20px 0;
    display: inline-block;
    width: 100%;
}

#contact {
    background-color: #f5f5f5;
    width: 100%;
    display: inline-block;
}

#about h1 {
    padding: 50px 0;
    width: 100%;
}

.cover {
    max-width: 100%;
}

.thumnbnail {
    max-width: 250px;
}

.icon {
    width: 30px;
    height: 30px;
    display: inline-block;
    padding: 30px 0 0 0;
}

.profilepic {
    width: 350px;
    height: 470px;
    padding: 100px 0 10px 0;
}

ul {
    list-style-position: inside;
    text-align: center;
}

.berlin-illustration {
    width: 100%;
    max-width: 100%;
    height: auto;
}

@keyframes color-change {
    0% {
        fill: #edc655;
    }
    50% {
        fill: #fcffad;
    }
    100% {
        fill: #f76414;
    }
}

.sun {
    animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
    from {
        transform: translate(0, 50px);
    }
    to {
        transform: translate(200px, 50px);
    }
}

.cloud-front {
    animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
    from {
        transform: translate(446px, 48px);
    }
    to {
        transform: translate(100px, 48px);
    }
}

.cloud-back {
    animation: 54s cloud-move-reverse infinite alternate linear;
}

[class*="col-"] {
    float: left;
}

.row:after {
    content: "";
    clear: both;
    display: table;
}

.projectDesc {
    padding: 5%;
}

.desc {
    padding: 5%;
}

.descpic {
    padding: 20%;
}

.prototype {
    max-width: 50%;
}

/*===============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
    header {
        text-align: unset;
        padding: 20px 0 13px;
    }

    nav {
        width: auto;
        float: right;
        margin-top: 4px;
    }

    main {
        padding-top: 175px;
    }

    body {
        font-size: 18px;
    }

    .col-md-6 {
        width: 50%;
    }

    .thumbnail {
        margin-top: 50px;
    }

    #about h3 {
        margin-top: 0;
    }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
    .col-lg-5 {
        width: 41.66%;
    }

    .col-lg-7 {
        width: 58.33%;
    }
}

/*===============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
